.result-list {
    width: 500px;


    margin-left: 20px;

}

.list-item {
    margin-top: 10px;
    width: 500px;
    background-color: bisque;
    border: 2px solid tan;
    border-radius: 5px;
}

.result-list ol {
    margin-left: -20px;
    margin-top: -10px;
}

.result-div {
    width: 500px;
}